<main id="notPaid" class="py-5 container">
  <header class="text-center">

    <% if current_user && current_user.admin && @order != @current_order %>
      <h1>Ongoing Shopping Cart</h1>
    <% else %>
      <h1>Your Cart</h1>
    <% end %>

  </header>

    <!-- <div class="total-price"></div> -->
    <section id="cart-details" class="text-left pt-4">
      <table class="table">
        <tbody>
          <% @order.order_items.each do |item| %>
            <% product = Product.find(item.product_id) %>
            <tr>
              <td style="width: 150px">
                <%= link_to product do %>
                  <% product.photos.limit(1).each do |photo| %>
                    <%= image_tag(photo, width: 100) %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= product.name %>
                <br>
                <small><em>
                  <%= link_to "Remove", order_item_path(item), method: :delete, style: "text-decoration: none", data: {confirm: "Are you sure you want to remove that product from your cart?"} %>
                </em></small>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td><%= number_to_currency(product.price_cents.to_f*item.quantity/100) %></td>
            </tr>
          <% end %>
          <tr style="border-bottom: solid thin white">
            <th></th>
            <th style="text-align: right;">Total</th>
            <th>
              <% total_quantity = 0 %>
              <% @order.order_items.each do |item| %>
                <% total_quantity += item.quantity %>
              <% end %>
              <%= total_quantity %>
            </th>
            <th>
              <% total_price = 0 %>
              <% @order.order_items.each do |item| %>
                <% product = Product.find(item.product_id) %>
                <% total_price += ( product.price_cents * item.quantity )%>
              <% end %>
              <%= number_to_currency(total_price/100) %>
            </th>
          </tr>
        </tbody>
      </table>
  </section>

  <section id="actions" class="text-center mt-5">
    <h4>Ready to checkout?</h4>
    <% if current_user %>

      <%= simple_form_for(@order, html: { id: "formMoveToCheckout" }) do |f| %>
        <%= f.hidden_field :move_to_checkout, value: true %>
        <%= f.submit "Checkout", class: "btn" %>
      <% end %>

    <% else %>
      <%= link_to "Checkout", new_user_registration_path(order_id: order.id), class: "btn" %>
    <% end %>
  </section>
</main>

