<div class="modal fade" id="newVariantComponent<%= component.id %>Modal" tabindex="-1" aria-labelledby="newVariantComponent<%= component.id %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newVariantComponent<%= component.id %>ModalLabel">Add a New Variant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= simple_form_for(variant) do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs spaced">
            <%= f.hidden_field :component_id, value: component.id %>
            <%= f.input :name %>
            <%= f.input :price_adjustment, label: "Price Adjustment", placeholder: "Difference from Default Price (in Cents)" %>
            <%= f.input :description %>  
            <%= f.input :active, label: "Display on Website", class: "mt-2" %> 
            <div class="form-group">
              <%= f.label "Variant Images" %><br>
              <%= f.file_field :photos, :multiple => true, class: "mb-1" %>
            </div>         
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Save Variant", class: "btn" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>