<div class="col-sm-6 col-md-3">
	<div class="product-box">
		<%= link_to product_path(product) do %>
			<% demo_picture_url = "" %>
			<% product.components.each do |component| %>
				<% component.variants.each do |variant| %>
					<% if variant.photos.count != 0 %>
						<% demo_picture_url = url_for(variant.photos.first) %>
					<% end %>
				<% end %>
			<% end %>
			<img src="<%= demo_picture_url %>">
		<% end %>
		<div class="px-2">
			<h3 class="h4 mt-3 mb-0"><%= product.name %></h3>
			<p><small><em><%= product.undertitle %></em></small></p>
			<p class="h3 color-red mb-2"><%= number_to_currency(product.price, precision: 2) %></p>
			<% first_component = product.components.first %>
			Components: <% product.components.count %>
			<br>Variants of First Component:  <%= first_component.variants.count %>
			<% if product.components.count == 1 && first_component.variants.count == 1 %>
				<%= simple_form_for(@new_order_item) do |f| %>
				    <%= f.hidden_field :order_id, value: @current_order.id %>
				    <%= f.hidden_field :product_id, value: product.id %>
				    <%= f.hidden_field :quantity, value: 1  %>
				    <%= f.submit "Add to Cart", class: "btn btn-blue btn-small" %>
				<% end %>
			<% end %>
			<%= link_to "See Options", product_path(product), class: "btn btn-blue-outline btn-small" %>
		</div> <!-- text padding -->
	</div> <!-- box -->
</div>


