<div class="col-sm-6 col-md-3">
	<div class="product-box">
		<%= link_to product_path(product) do %>
			<% product.photos.limit(1).each do |photo| %>
				<%= image_tag(photo) %>
			<% end %>
		<% end %>
		<p class="mt-3"><%= product.name %></p>

		<%= simple_form_for(@new_order_item) do |f| %>
		    <%= f.hidden_field :order_id, value: @current_order.id %>
		    <%= f.hidden_field :product_id, value: product.id %>
		    <%= f.hidden_field :quantity, value: 1  %>
		    <%= f.submit number_to_currency(product.price_cents.to_f/100), class: "btn" %>
		<% end %>
	</div> <!-- box -->
</div>